.navbar_pinterest {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5em;
}

.logo {
  display: inline-block;
  margin: 10px 10px;
}

.logo img {
  height: 22px;
  margin-left: 28px;
}

.HomeBtn {
  background-color: black;
  border-radius: 34px;
  font-size: 16px;
  padding: 16px;
  color: white;
  border: none;
  white-space: nowrap;
  height: 48px;
  min-width: 60px;
}

.TodayBtn {
  margin: 10px;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 500;
}

.TodayBtn:hover {
  background-color: rgba(128, 128, 128, 0.233);
  border-radius: 34px;
}

/* Search */

.searchbar {
  width: 70%;
  background-color: #efefef;
  border-radius: 27px;
}
.searchbar form {
  display: flex;
  align-items: center;
}

.search_box {
  border: none;
  outline: none;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  width: 100%;
}

.material-icons {
  padding: 15px;
  color: rgb(92, 90, 90);
}

.drop__pinterest {
  justify-self: flex-end;
}

.icons_right {
  display: flex;
  align-items: center;
  width: 14%;
  height: 5em;
  justify-content: space-around;
}

.dropdown-menu.show {
  display: block;
  left: -160px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
