.picture_card {
  display: inline-block;
  margin: 0.5em;
  position: relative;
  
}

.pins {
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}



.picture_card:hover {
  opacity: 0.7;
  transition: opacity .35s ease;
}


 .picture_card:hover .btn{
  opacity: 1; 
} 
.btn {
  
  width: 75px;
  height: 50px;
  
  
  
  color: rgb(253, 255, 255);
  
  background-color: rgb(255, 20, 20);
  transition: opacity .35s ease;
  position: absolute;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
 
  border: 0.1px rgb(255, 20, 20);
  z-index: 1;
  border-radius: 32px;
  
  background-color: rgb(255, 20, 20);
  cursor: pointer;
  opacity: 0;
  top: 1%;
  right: 1%;
  
}

